@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Pretendard-Regular", sans-serif;
  background-color: whitesmoke;
  margin: 10px;
}
.container {
  display: grid;
  width: min(1224px, 100% - 60px);
  grid-template-columns: repeat(auto-fill, 288px);
  gap: 32px 24px;
  margin: auto;
}
article {
  width: 288px;
  height: 348px;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
}
img {
  width: 100%;
  aspect-ratio: 288/196;
  object-fit: cover;
  vertical-align: top;
}
.title {
  color: #29363d;
  font-size: 16px;
  font-weight: 700px;
  line-height: 19px;
  margin: 25px auto 12px 16px;
}
.description {
  color: #5a6a72;
  font-size: 12px;
  line-height: 20px;
  margin: 12px 16px auto 16px;

  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
a {
  display: inline-block;
  margin: 19px auto 19px 22px;
  color: #29363d;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-decoration: underline;
}
